@charset "utf-8";

/* 반응형: 화면 좁으면 gnb 숨기고 버튼만 */
@media (max-width: 1100px) {
    .gnb {
        display: none;
    }

    .container {
        padding: 0 20px;
    }

    .logo {
        width: 180px;
    }
}