@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body.no-scroll {
    overflow: hidden;
}

.inner {
    width: 100%;
    max-width: 1600px;
    margin-inline: auto;
}

header {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    transition: .3s;
    z-index: 10;
}

header.on {
    background-color: rgba(0, 0, 0, 0.830);
    height: 100%;
    backdrop-filter: blur(25px);
}

header .inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

header.on h1 {
    color: var(--gray-01);
}

header.on nav {
    display: none;
}

header nav ul.gnb {
    display: flex;
}

header nav ul.gnb>li {
    position: relative;
}

header nav ul.gnb>li>a {
    display: flex;
    min-width: 120px;
    height: 2.667rem;
    justify-content: center;
    align-items: center;
    color: var(--gray-08);
    font-size: 22px;
}

header nav ul.gnb>li>ul.sub {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2.667rem;
    width: 178px;
    background: var(--gray-08);
    padding: 1em;
    border-radius: 8px;
    font-size: .889rem;
    display: none;
    flex-direction: column;
    gap: 10px;
}

header nav ul.gnb>li:hover>ul.sub {
    display: flex;
}

header nav ul.gnb>li>ul.sub li a {
    display: flex;
    padding: .5em;
    color: rgb(233, 233, 233);
    transition: .2s;
}

header nav ul.gnb>li>ul.sub li:hover a {
    color: #fff;
}

header .right {
    display: flex;
    gap: 8px;
}

a.af {
    font-size: 17px;
    display: flex;
    height: 40px;
    padding: 0 15px;
    align-items: center;
    color: #fff;
    gap: 5px;
}


header .right a {
    transition: .5s;
}

header .right a:nth-child(1) {
    background: #000;
}

header.on .right a:nth-child(1) {
    background: transparent;
}

header.on .right a:nth-child(1):hover {
    background: var(--gray-00);
    color: var(--gray-08);
}

header .right a:nth-child(2) {
    background: var(--yul-blue);
}

header.on .right a:nth-child(2) {
    background: transparent;
}

header.on .right a:nth-child(2):hover {
    background: var(--yul-blue);
}

header .right ul {
    width: 40px;
    height: 40px;
    padding: 11px 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

header .right ul li {
    width: 23px;
    height: 2px;
    background-color: #000;
    transition: transform .6s;
}

header.on .right ul li:nth-child(1) {
    position: absolute;
    left: 22%;
    top: 50%;
    margin-top: -1px;
    background: var(--gray-05);
    transform: rotate(45deg);
}

header.on .right ul li:nth-child(2) {
    display: none;
}

header.on .right ul li:nth-child(3) {
    position: absolute;
    right: 22%;
    top: 50%;
    margin-top: -1px;
    background: var(--gray-05);
    transform: rotate(-45deg);
}

header .ham_menu {
    display: none;
    width: 100%;
}

header.on .ham_menu {
    display: flex;
    flex: 1;
}

header .container {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}

header .container h2 {
    font-size: 40px;
    color: var(--gray-00);
    font-weight: 600;
    margin-bottom: 1em;
}

header .container .all_con {
    width: 100%;
    color: var(--gray-03);
}

header .container .all_con ul.list {
    display: flex;
}

header .container .all_con ul.list>li {
    width: 25%;
    border-right: 1px solid #343434;
    padding: 0 2em 0 1em;
    margin: 1.5em 0;
}

header .container .all_con ul.list>li:last-child {
    border-right: 0;
}

header .container .all_con ul.list>li button {
    background: transparent;
    border: none;
    font-size: 26px;
    color: var(--gray-00);
    text-align: left;
    display: flex;
    padding: 0;
    font-weight: 500;
    cursor: pointer;
}

header .container .all_con ul.list>li ul {
    margin-top: 2em;
    line-height: 2.4;
    font-size: 16px;
}